exportPattern("^[^\\.]")

import(np,moments)
import(mgcv,except=c("lp"))
import(gamlss)
import(doParallel)
import(foreach)
import(iterators)
importFrom("graphics", "hist", "plot")
importFrom("stats", "density", "dnorm", "loess", "optimize", "pnorm","printCoefmat", "pt", "residuals", "sd")

S3method(summary, semsfa)
export(summary.semsfa)
S3method(plot, semsfa)
export(plot.semsfa)